<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Qr Generator</title>
</head>
<body>
{% include 'qrgenerator/navbar.html' %}
<div class="container mt-5">
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <div class="text-center mb-2">
                {% if is_qr == 'true' %}
                <img src="/media/{{data.qr_image}}" id="qr_image" name="qr_image" class="img-responsive"
                     alt="QR Image"
                     width="304"
                     height="236">
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-10">
                    <textarea class="form-control mb-2" rows="5" id="comment" name="comment"></textarea>
                    <label for="comment">Enter Text Here</label>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-primary mt-2 mr-2 float-right">Generate Qrcode
                    </button>
                    <a href="/media/{{data.qr_image}}" download>
                        <button class="btn btn-outline-success mt-2 mr-2 float-right" title="Download Image"
                                type="button">
                            Download
                            Image
                        </button>
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>